#issues_index {
  .issue {
    display: inline-block;
    vertical-align: top;
    width: 120px;
    margin: 5px;

    .issue-cover {
      width: 100%;

      img {
        max-width: 100%;
      }
    }

    .issue-title {
      font-size: 12px;
    }
  }
}
